src/main/webapp/schemas/HelloWorldServiceOperation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://com/project/soap/webservices/helloservice"
	targetNamespace="http://com/project/soap/webservices/helloservice"
	elementFormDefault="qualified">
	<xsd:import namespace="http://soap.project.com" />
	<xsd:element name="HelloWorldRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="HelloWorldResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="message" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>